{% extends 'account_template.html' %}
{% load staticfiles %}

{% block static %}
    密码修改/Change Password
{% endblock %}

{% block body %}
    <div class="wid_con loginbox">
        <div class="password_con change_password">
            <div class="text_box">
                <div>
                    <div><i><img src="images/icon02.png"></i><input type="text" placeholder="请输入6~30位新密码">
                        <span>*</span>
                    </div>
                    <section class="pass_long">
                        <h1>密码强度：弱&nbsp;&nbsp;&nbsp;中&nbsp;&nbsp;&nbsp;强</h1>
                    </section>
                    <div class="qrmm"><i><img src="images/icon02.png"></i><input type="text" placeholder="请输入密码确认">
                        <span>*</span>
                    </div>
                    <a href="{% url 'logins:login' %}">
                        <button>确认修改</button>
                    </a>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $(".text_box>div>.qrmm input").focus(
                        function () {
                            $(".text_box .qrmm i img").stop().animate({marginTop: -22}, 100)
                        }
                    )
                })
            </script>
        </div>
        <div class="password_txt">
            <div>
                <h1>温馨提示</h1>
                <p>密码修改后请牢记您的新密码，如有问题请致电服务热线：400-6677-937</p>
            </div>
            <h2>请点此<a href="index.html">登录</a></h2>
        </div>
    </div>
{% endblock %}