{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'login_and_registration/images/tx.jpg' %}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>地表最强博客</title>
    <meta name="keywords" content="地表最强博客"/>
    <meta name="description" content="地表最强博客"/>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='style-css' href='{% static 'home/css/style.css' %}' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='lmlblog-css' href='{% static 'home/css/lmlblog.css' %}' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='all-css' href='{% static 'home/css/all.css' %}' type='text/css'
          media='all'/>
    <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
    <script type='text/javascript' src='{% static 'home/js/jquery.min.js' %}'></script>
    <script type='text/javascript'>
        {#function ajax_header(id) {#}
        {#    $.ajax({#}
        {#        'url': '{% url 'body:indexs' %}',#}
        {#        'dataType': 'json',#}
        {#        'type': 'get',#}
        {#        'data': {'us_id': id},#}
        {#        'success': (function (data) {#}
        {#            var arr = data;#}
        {#            location.href = "{% url 'body:index' %}";#}
        {#            alert('1');#}
        {#            $('#info_img').attr('src', arr.img).attr('onclick', 'ajax_header(' + arr.user_id + ')');#}
        {#            $('#info_img_name').attr('title', arr.user_name);#}
        {#            $('#info_user_name').html(arr.user_name);#}
        {#            $('#info_grade').html('LV.' + arr.grade).attr('title', arr.signnumber);#}
        {#            $('#info_sgrade').html('LV.' + arr.sgrade);#}
        {#            $('#info_sign').html(arr.user_sign);#}
        {#            if (arr.hh == 1) {#}
        {#                $('#hh').attr('onclick', 'qiandao(' + arr.user_id + ')');#}
        {#                $('#heheda').html('<i class="lmlblog-icon"></i> 签到 </span>')#}
        {#            } else if (arr.hh == 2) {#}
        {#                $('#hh').attr('onclick', '');#}
        {#                $('#heheda').html('<i class="lmlblog-icon"></i> 已签到 </span>')#}
        {#            } else if (arr.hh == 3) {#}
        {#                $('#hh').attr('onclick', 'guanzhu(' + arr.user_id + ')');#}
        {#                $('#heheda').html('<i class="lmlblog-icon"></i> 关注 </span>')#}
        {#            } else if (arr.hh == 4) {#}
        {#                $('#hh').attr('onclick', 'noguanzhu(' + arr.user_id + ')');#}
        {#                $('#heheda').html('<i class="lmlblog-icon"></i> 取消关注 </span>')#}
        {#            }#}
        {#        })#}
        {#    })#}
        {# }#}

        function qiandao(id) {
            if (hh.getAttribute('lock')) {
                return;
            }
            //上锁
            hh.setAttribute('lock', 1);
            $.ajax({
                'url': '{% url "body:qiandao" %}',
                'type': 'post',
                'dataType': 'json',
                'data': {'us_id': id},
                'success': (function (data) {
                    hh.setAttribute('lock', '');
                    var arr = data;
                    if (arr.hh == 1) {
                        $('#hh').attr('onclick', 'qiandao(' + arr.user_id + ')');
                        $('#heheda').html('<i class="lmlblog-icon"></i> 签到 </span>')
                    } else if (arr.hh == 2) {
                        $('#hh').attr('onclick', '');
                        $('#heheda').html('<i class="lmlblog-icon"></i> 已签到 </span>')
                    } else if (arr.hh == 3) {
                        $('#hh').attr('onclick', 'guanzhu(' + arr.user_id + ')');
                        $('#heheda').html('<i class="lmlblog-icon"></i> 关注 </span>')
                    } else if (arr.hh == 4) {
                        $('#hh').attr('onclick', 'noguanzhu(' + arr.user_id + ')');
                        $('#heheda').html('<i class="lmlblog-icon"></i> 取消关注 </span>')
                    }
                })

            })
        }

        function guanzhu(id) {
            if (hh.getAttribute('lock')) {
                return;
            }
            //上锁
            hh.setAttribute('lock', 1);
            $.ajax({
                url: '{% url 'body:guanzhu' %}',
                dataType: 'json',
                type: 'post',
                data: {'us_id': id},
                success: (function (data) {
                    hh.setAttribute('lock', '');
                    var arr = data;
                    if (arr.hh == 1) {
                        $('#hh').attr('onclick', 'qiandao(' + arr.user_id + ')');
                        $('#heheda').html('<i class="lmlblog-icon"></i> 签到 </span>')
                    } else if (arr.hh == 2) {
                        $('#hh').attr('onclick', '');
                        $('#heheda').html('<i class="lmlblog-icon"></i> 已签到 </span>')
                    } else if (arr.hh == 3) {
                        $('#hh').attr('onclick', 'guanzhu(' + arr.user_id + ')');
                        $('#heheda').html('<i class="lmlblog-icon"></i> 关注 </span>')
                    } else if (arr.hh == 4) {
                        $('#hh').attr('onclick', 'noguanzhu(' + arr.user_id + ')');
                        $('#heheda').html('<i class="lmlblog-icon"></i> 取消关注 </span>')
                    }
                })
            })
        }

        function noguanzhu(id) {
            if (hh.getAttribute('lock')) {
                return;
            }
            //上锁
            hh.setAttribute('lock', 1);
            $.ajax({
                url: '{% url 'body:noguanzhu' %}',
                dataType: 'json',
                type: 'post',
                data: {'us_id': id},
                success: (function (data) {
                    hh.setAttribute('lock', '');
                    var arr = data;
                    if (arr.hh == 1) {
                        $('#hh').attr('onclick', 'qiandao(' + arr.user_id + ')');
                        $('#heheda').html('<i class="lmlblog-icon"></i> 签到 </span>')
                    } else if (arr.hh == 2) {
                        $('#hh').attr('onclick', '');
                        $('#heheda').html('<i class="lmlblog-icon"></i> 已签到 </span>')
                    } else if (arr.hh == 3) {
                        $('#hh').attr('onclick', 'guanzhu(' + arr.user_id + ')');
                        $('#heheda').html('<i class="lmlblog-icon"></i> 关注 </span>')
                    } else if (arr.hh == 4) {
                        $('#hh').attr('onclick', 'noguanzhu(' + arr.user_id + ')');
                        $('#heheda').html('<i class="lmlblog-icon"></i> 取消关注 </span>')
                    }
                })
            })
        }
    </script>
</head>

<body>
<div class="lmlblog-member-main">
    <div class="lmlblog-member-bg">
        <div class="lmlblog-member-content">
            <div class="lmlblog-member-header">
                <div class="lmlblog-member-avatar other">
                    <a id="info_a"><img id="info_img" src="{{ head_info.userimg }}"
                                        onclick="ajax_header(2)"
                                        class="avatar" alt="加载失败"></a>
                    <i id="info_img_name" class="lmlblog-verify lmlblog-verify-a"
                       title="{{ head_info.userid.user_name }}"></i>
                </div>
                <div class="lmlblog-member-username">
                    <h1 id="info_user_name">{{ head_info.userid.user_name }}</h1>
                    <span class="lmlblog-mark lmlblog-lv" id="info_grade"
                          title="经验：3815">Lv.{{ head_info.userid.user_one_level }}</span>
                    <span class="lmlblog-mark lmlblog-vip"
                          id="info_sgrade">VIP {{ head_info.userid.user_member_level }}</span>
                </div>
                <div class="lmlblog-member-desc" id="info_sign">{{ head_info.userid.user_sign }}</div>
                <div class="lmlblog-member-follow-info">
                    {% if hh == 1 %}
                        <a id="hh" target="_blank" rel="nofollow" onclick="qiandao({{ head_info.userid.id }})"> <span
                                class="follow no opacity" id="heheda"><i class="lmlblog-icon"></i> 签到 </span></a>
                    {% elif hh == 2 %}
                        <a id="hh" target="_blank" rel="nofollow" onclick=""><span
                                class="follow no opacity" id="heheda"><i class="lmlblog-icon"></i>已签到</span></a>
                    {% elif hh == 3 %}
                        <a id="hh" target="_blank" rel="nofollow" onclick="guanzhu({{ head_info.userid.id }})"><span
                                class="follow no opacity" id="heheda"><i class="lmlblog-icon"></i> 关注 </span></a>
                    {% elif hh == 4 %}
                        <a id="hh" target="_blank" rel="nofollow" onclick="noguanzhu({{ head_info.userid.id }})"><span
                                class="follow no opacity" id="heheda"><i class="lmlblog-icon"></i> 取消关注 </span></a>
                    {% endif %}

                    <span class="opacity"><i class="lmlblog-icon">&#xe612;</i> <a
                            href="{% url 'body:index' %}">我的首页</a></span>
                </div>
            </div>
            <!-- {#            <div class="lmlblog-member-header">#}
            {#                <div class="lmlblog-member-avatar other">#}
            {#                    <a href="#" id="info_a"><img id="info_img" src="{% static 'home/css/default_avatar.png' %}"#}
            {#                                                 onclick="ajax_header(1)" class="avatar" alt="加载失败"></a>#}
            {#                    <i id="info_img_name" class="lmlblog-verify lmlblog-verify-a" title="用户名"></i></div>#}
            {#                <div class="lmlblog-member-username">#}
            {#                    <h1 id="info_user_name">用户名</h1>#}
            {#                    <span class="lmlblog-mark lmlblog-lv" id="info_grade" title="经验值">等级</span>#}
            {#                    <span class="lmlblog-mark lmlblog-vip" id="info_sgrade">会员等级</span></div>#}
            {#                <div class="lmlblog-member-desc" id="info_sign">个性签名</div>#}
            {#                <div class="lmlblog-member-follow-info" id="pin">#}
            {#关注 签到 私聊 异步加载地址#}
            {#                </div>#} -->
        </div>

        {% block show %}

        {% endblock %}
    </div>
</div>
<!-- 底部 -->
<div style="clear:both"></div>
<div class="footer">
    <div class="footer_b_foot">
        <div class="footer_b_top">
        </div>
        <div class="footer_b_bottom">Design by 2017 画江湖杯莫停 司空琪个人主页 司空琪微博/空间/贴吧官博。内容源于网络搜集,仅学习、分享交流。</div>
    </div>
</div>
<!-- 返回顶部 -->
<a href="javascript:returnTop();" class="cd-top"></a>
{% block script_content %}
{% endblock %}
</body>
{% block script_content2 %}
{% endblock %}
</html>
