{% extends 'account_template.html' %}
{% load staticfiles %}

{% block static %}
    找回密码/Password
{% endblock %}

{% block body %}
    <div class="wid_con loginbox">
        <div class="password_con">
            <div class="text_box">
                <div>
                    <div><i><img src="images/icon01.png"></i><input type="text" placeholder="请输入您的WangID号码">
                        <span>*</span>
                    </div>
                    <div class="yzm">
                        <i><img src="images/icon03.png"></i><input type="text" placeholder="请输入验证码">
                        <label><img src="images/yzm.png"></label><span>*</span>
                    </div>
                    <a href="{% url 'logins:change' %}">
                        <button>提 交</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="password_txt">
            <div>
                <h1>温馨提示</h1>
                <p>提交找回密码后, 我们会将您的密码发送至您注册时所填写的邮箱，请您注意查看</p>
            </div>
            <h2>若想起密码，请点此<a href="{% url 'logins:login' %}">登录</a></h2>
        </div>
    </div>
{% endblock %}